.wrapcover{
    width: 100%;
    height: 100%;
    position: relative;
    top: 70%;

}
.imgcover{
    display: block;
        width: 100%;
        height: 100%;
}

.imgperson{
    width: 100%;
    height: 100%;
    position: absolute;
    border:10px solid #FFDDA1;
    top: 0%;
    border-radius: 1.7%;
}
.imgpict{
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.form7{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
}
.form8{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
}
.form9{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi2;
    animation-duration: 3s;
}
.form10{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi2;
    animation-duration: 3s;
}
.form11{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 68%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi2;
    animation-duration: 3s;
}

.posisi{
    position: absolute;
    width: 100%;
    height: 25%;
    top: 40%;

}

.labeltgl{
    color:black;
    font-family: 'fredoka one';
}
.labelnpl{
    color: #9C6615;
    font-family: 'aquate';
    font-size: 100px;
}
.labelnpw{
    color: #9C6615;
    font-size: 100px;
    font-family: 'aquate';
}
.labeland{

    color: #9C6615;
    font-family: 'aquate';
    font-size: 70px;
}






@font-face{
    font-family: "LeckerliOne-Regular";
    src: url('../../Assets/font/LeckerliOne-Regular.ttf');
    font-family: "aquate";
    src: url('../../Assets/font/Aquate.ttf');

}

@keyframes animasi1{
    0%{transform: translateY(0px);}
    50%{transform: translateY(15px);}
}
@keyframes animasi2{
    0%{transform: translateY(35px);}
    100%{transform: translateY(0px);}
}
@keyframes animasitext{
from{
    margin-left: -50%;
    opacity: 0;
}
to{
    margin-left: 0%;
}
}
@keyframes animasitext1{
    from{
        opacity: 0;
    }
    to{
        margin-left: 0%;
    }
    }

   


 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapcover{
        width: 100%;
        height: 120%;
        position: relative;
        top: 70%;
    
    }
    .imgcover{
            position: relative;
            width: 100%;
            height: 1500px;

    }
    
    .imgperson{
        width: 96.5%;
        height: 100%;
        position: absolute;
        border:10px solid #FFDDA1;
        top: 0%;
        border-radius: 1.7%;
    }
    .imgpict{
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }
    .form7{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 2%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
    }
    .form8{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
    }
    .form9{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 30%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    .form10{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 45%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    .form11{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 57%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    
    .posisi{
        position: absolute;
        width: 100%;
        height: 25%;
        top: 40%;
    
    }
    
    .labeltgl{
        color:black;
        font-family: 'fredoka one';
        font-size: 10px;
    }
    .labelnpl{
        color: #9C6615;
        font-family: 'aquate';
        font-size: 20px;
    }
    .labelnpw{
        color: #9C6615;
        font-size: 20px;
        font-family: 'aquate';
    }
    .labeland{
    
        color: #9C6615;
        font-family: 'aquate';
        font-size: 25px;
    }
    
    
    
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapcover{
        width: 100%;
        height: 100%;
        position: relative;
        top: 70%;
    
    }
    .imgcover{
        display: block;
            width: 100%;
            height: 100%;
    }
    
    .imgperson{
        width: 100%;
        height: 100%;
        position: absolute;
        border:10px solid #FFDDA1;
        top: 0%;
        border-radius: 1.7%;
    }
    .imgpict{
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }
    .form7{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
    }
    .form8{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
    }
    .form9{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 35%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    .form10{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 45%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    .form11{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 68%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    
    .posisi{
        position: absolute;
        width: 100%;
        height: 25%;
        top: 40%;
    
    }
    
    .labeltgl{
        color:black;
        font-family: 'fredoka one';
    }
    .labelnpl{
        color: #9C6615;
        font-family: 'aquate';
        font-size: 100px;
    }
    .labelnpw{
        color: #9C6615;
        font-size: 100px;
        font-family: 'aquate';
    }
    .labeland{
    
        color: #9C6615;
        font-family: 'aquate';
        font-size: 70px;
    }
    
    
    
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .wrapcover{
        width: 100%;
        height: 100%;
        position: relative;
        top: 70%;
    
    }
    .imgcover{
        display: block;
            width: 100%;
            height: 100%;
    }
    
    .imgperson{
        width: 100%;
        height: 100%;
        position: absolute;
        border:10px solid #FFDDA1;
        top: 0%;
        border-radius: 1.7%;
    }
    .imgpict{
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }
    .form7{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
    }
    .form8{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
    }
    .form9{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 35%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    .form10{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 45%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    .form11{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 68%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    
    .posisi{
        position: absolute;
        width: 100%;
        height: 25%;
        top: 40%;
    
    }
    
    .labeltgl{
        color:black;
        font-family: 'fredoka one';
    }
    .labelnpl{
        color: #9C6615;
        font-family: 'aquate';
        font-size: 100px;
    }
    .labelnpw{
        color: #9C6615;
        font-size: 100px;
        font-family: 'aquate';
    }
    .labeland{
    
        color: #9C6615;
        font-family: 'aquate';
        font-size: 70px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .wrapcover{
        width: 100%;
        height: 100%;
        position: relative;
        top: 70%;
    
    }
    .imgcover{
        display: block;
            width: 100%;
            height: 100%;
    }
    
    .imgperson{
        width: 100%;
        height: 100%;
        position: absolute;
        border:10px solid #FFDDA1;
        top: 0%;
        border-radius: 1.7%;
    }
    .imgpict{
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }
    .form7{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
    }
    .form8{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
    }
    .form9{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 35%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    .form10{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 45%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    .form11{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 68%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    
    .posisi{
        position: absolute;
        width: 100%;
        height: 25%;
        top: 40%;
    
    }
    
    .labeltgl{
        color:black;
        font-family: 'fredoka one';
    }
    .labelnpl{
        color: #9C6615;
        font-family: 'aquate';
        font-size: 100px;
    }
    .labelnpw{
        color: #9C6615;
        font-size: 100px;
        font-family: 'aquate';
    }
    .labeland{
    
        color: #9C6615;
        font-family: 'aquate';
        font-size: 70px;
    }
    
    
    
    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .wrapcover{
        width: 100%;
        height: 100%;
        position: relative;
        top: 70%;
    
    }
    .imgcover{
        display: block;
            width: 100%;
            height: 100%;
    }
    
    .imgperson{
        width: 100%;
        height: 100%;
        position: absolute;
        border:10px solid #FFDDA1;
        top: 0%;
        border-radius: 1.7%;
    }
    .imgpict{
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }
    .form7{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
    }
    .form8{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi1;
        animation-duration: 3s;
    }
    .form9{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 35%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    .form10{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 45%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    .form11{
        height: auto;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 68%;
        width: 100%;
        margin-right: auto;
        animation-name: animasi2;
        animation-duration: 3s;
    }
    
    .posisi{
        position: absolute;
        width: 100%;
        height: 25%;
        top: 40%;
    
    }
    
    .labeltgl{
        color:black;
        font-family: 'fredoka one';
    }
    .labelnpl{
        color: #9C6615;
        font-family: 'aquate';
        font-size: 100px;
    }
    .labelnpw{
        color: #9C6615;
        font-size: 100px;
        font-family: 'aquate';
    }
    .labeland{
    
        color: #9C6615;
        font-family: 'aquate';
        font-size: 70px;
    }
    
    
    
    
}