 .wrapcover{
    width: 100%;
    height: 100%;
    position: relative;

}
.img1{
    display: block;
    width: 100%;
    height: 770px;

}
@font-face{
    font-family: "LeckerliOne-Regular";
    src: url('../../Assets/font/LeckerliOne-Regular.ttf');
    font-family: 'playlist';
    src: url('../../Assets/font/PlaylistScript.ttf') format('truetype');
    font-family: 'sweet';
    src: url('../../Assets/font/Sweet.ttf') format('truetype');
    font-family: 'monofonto';
    src: url('../../Assets/font/monofonto.ttf') format('truetype');
}

.htop{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 27%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
    font-family: 'sweet';
    font-size: 20px;
}
.htopas{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
    font-family: 'sweet';
    font-size: 20px;
}
.htopudg{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 34%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
    font-family: 'monofonto';
    font-size: 20px;
}
.txtudg{
    font-size: 14px;
    color: #CBC1A1;
}
.htopbpk{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 36%;
    width: 100%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
    font-family: 'monofonto';
    font-size: 20px;
}
.htopw{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 42%;
    width: 100%;
    font-family: 'monofonto';
}
.htoplistw{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    width: 100%;
    height: 40%;
    margin-right: auto;

    
}
.imglistw{
    width: 50%;
    margin-left: 25%;
}
.txtw{
    font-size: 13px;
    margin-left: 27%;
    color:#CBC1A1 ;
}
.txtbpk{
    font-size: 14px;
    color: #CBC1A1;
}
.txtas{
    color: #CBC1A1;
}
.txtudg{
    color: #CBC1A1;
}
.txtb{
    color: #CBC1A1;
}
.htopb{
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4%;
    width: 100%;
    height: 40%;
    margin-right: auto;
    animation-name: animasi1;
    animation-duration: 3s;
    font-family: 'sweet';
    font-size: 20px;
}
.htopimg{
    display: block;
    width: 40%;
    height: 20%;
}

.wrappingimg{
    width: 30%;
    height: 15%;
    position: absolute;
    top: 40%;
    border-radius: 50%;
    overflow: hidden;
    background-color: red;
    border:3px solid #CBC1A1;
}
.imgw{
    height: 100%;
    width: 100%;
}

.htopwbpk{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 48%;
    width: 100%;
    font-family: 'monofonto'; 
    
}
.txtwbpk{
    font-size: 11px;
    margin-left: 27%;
}
.htopwptk{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 46%;
    width: 100%;
    font-family: 'monofonto'; 
    
}
.txtptk{
    font-size: 11px;
    margin-left: 27%;
}
.htopwibu{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 100%;
    font-family: 'monofonto'; 
    
}
.txtwibu{
    font-size: 11px;
    margin-left: 27%;
}