.wrap{
    width: 100%;
    height: 100%;
    position: relative;

}
.imgbg{
    display: block;
    width: 100%;
    height: 770px;
}
.slider{
    height: auto;
    position: absolute;
    top: 52%;
    width: 100%;
    margin-right: auto;
    background-color: blue;
    display: grid;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wrap{
        
        width: 100%;
        height: 975px;
    
    }
    .imgbg{
        display: block;
        width: 100%;
        height: 970px;
    }
}
 @media only screen and (min-width: 300px) and (max-width: 980px){
        .wrap{
            width: 100%;
            height: 100%;
            position: relative;
        
        }
        .imgbg{
            display: block;
            width: 100%;
            height: 770px;
        
        }
        .slider{
            height: auto;
            position: absolute;
            top: 20%;
            width: 100%;
            margin-right: auto;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 150px 160px;

        }
        .thumbnail{
            border: 4px solid springgreen;
            background-color: steelblue;

        }
        .nail-1{
            grid-column: 1/3;
        }
        .nail-2{
            grid-area: 1/3/3/4;
        }
        .nail-3{
            grid-area: 2/2/span 2 / span 2 ;
        }
        .nail-4{
            grid-area: 2/1/span 4 / span 1;
        }
        .nail-5{
           
        }
        .nail-9{
            grid-column: 1/4;
        }
       
    }    


    @media only screen and (min-height: 800px) and (max-height:1000px) {
        .wrap{
            width: 100%;
            height: 1000px;
        
        }
        .imgbg {
            display: block;
            width: 100%;
            height: 1000px;
        }
      
     }
     
     
    
     
    
    
    